* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desktop{
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.movingBox{
    width: 100px;
    background-color: mediumpurple;
    height: 100px;
}
